# Datatype and Structure Questions:

1. What are data structures and why are they important?

  => Data structure is a way to store and organize the data, It is important as through data structures we can access and manipulate the data.

2. Explain the difference between mutable and immutable data types with example

  =>

*   **Mutable Datatype:** It refers to if the object has the ability to chage its value after it was created. Example: List is mutable datatype
  ```
  list = [1, 2, "Hello world", 3+5j]
  list[2] = "Hey world"
  # Here we are accesing the index and updating the value directly through it
  print(list)
  ```
*   **Immutable Datatype:** It refers to the datatype which don't have the ability to change after they are created. Example: Tuples are immutable datatype
  ```
  some_tup = (1,2,"apple")
  some_tup[0] = 3
  # This line will through an error as tuples are not mutable datatype
  ```

3. What are the main difference between list and tuples in python?

  => The main difference between and list and tuple is:


*   **Lists are mutable** (which means they have the ability to change once they are created)
*   **Tuples are immutable** (which means they don't have the ability to change after they are created)

4. Describe how dictonaries store data?

  => Dictonaries store data in the form of key value pair as like in other data types like lists, tuples and strings a continuous form of memory is allocated to the object and each value in that object is accessed through some index value. So, for example:
  
  ```
  list = (1, 2, 3)
  # Here an object named list is labeled to memory and there are some values stored in it
  print(list[0]) # This will output 1
  # As indexing is helping us to access a particular data among many in the list through index
  ```

  But in case of Dictonary:

  ```
    dict = {
    "name": "Steve",
    "age": 30,
    "salary": 45000
  }
  # Here the words name, age, salary are known as key which is somewhat similar to index
  # To access a particular data among many data we can use key to do it.
  print(dict["name"]) #This will print the value of the key (name) from dictonary
  ```

5. Why you might use a set instead of list in python?

  => **Sets** are unordered, unique collection of data. Here, unordered and unique means if there are same value in set it will always show as one and unordered means the values in the set doesn't have fixed index in the memory.
  So, each time we try to output sets it will always display only unique element within it not ample amount of same values.

  It is preferred over a list because **lists are ordered collection of data** which means it will have many same value while on the other hand **sets** is used in places where we want to fetch only unique data. For Example:
  ```
  some_set = { 30, 32, 28, 30, 25. 35 }
  # Here we have added different ages in a set they are 30 repeated 2 times
  print(some_set)
  # But as soon as we will output the data we will only see 30 once as it will display unique value.
  ```

6. What is a string in python, and how is it different from list?

  => String is the sequence of characters, It represents and manipulate textual data. In string, characters are represented using numerical values.

  Each characters is assigned a unique ASCII (7 bits) and UNICODE (16 bits).
  ```
  str = "Hello, World! This is some person writing a python assignment question 6"
  ```
  Each character passed in the string in above code have some unique code to represent them.

  **Strings are different from list because list is mutable and string is immutable**

  In a string, We can't do:

  ```
  str[0] = "M"
  # We can't directly assign the data through indexing in a string
  ```

7. How do tuples ensure data integrity in Python.

  => Tuples are immutable in nature which helps to maintain data integrity by avoiding any accidental data update in tuple.

  Tuples can also be used as a key in dictionary because of immutablility as they are hashable which means there hash value will remain consistent which will help to retrieve the key anytime through the life of dictionary.

8. What is a hash table, and how does it relate to dictionaries in Python?

  => In a dictionary, data is stored in a form of key-value pair and a key is transformed into index (the process is known as hashing) where the corresponding value is stored.

9. Can lists contain different data types in Python?

  => Yes, Lists can store multiple data types in python.

  Example:

In [1]:
list = [ 1, 2.3, "Hello", { "age":30 }, 3+6j ]
for i in list:
  print(i, type(i))

1 <class 'int'>
2.3 <class 'float'>
Hello <class 'str'>
{'age': 30} <class 'dict'>
(3+6j) <class 'complex'>

10. Explain why strings are immutable in python.

  => Python strings are immutable means once the string is created it can't be modified or changed. This is important because it prevents any accidental modification and updation within a string.

  Strings in python also based on hasing means if it can be modified it will lead to inappropriate bheviour in data structure.

In [ ]:
str = "Hello World"
str[0] = 'h'
# This line of code will generate an error

11. What advantages do dictionaries offer over lists for certain tasks.

  => In list we need to access the value of the list by some index number but in dictionary we can access the value with a key which are meaningful like {"name":"John"} name is the key in the example and can be accessed anytime.

12. Describe a scenario where using a tuple would be preferable over a list?

  => Tuple is an immutable datatype whereas list is a mutable datattype, tuple are always used in the situations where we don't want to alter the data or prevent any type of accidental update or change.

13. How do sets handle duplicate values in Python?

  => Sets work on the principle of set in Mathematics which means its primany function is not to have duplicate values. When initially a set is defined with some values including duplicate values it automatically filters out, and when appending the duplicate value it discards.

14. How does the “in” keyword work differently for lists and dictionaries?

  => When using "in" keyword in list it searches for the value rather searching for index value.
  ```
  list  = [1,2,3]
  if 2 in list:
  print(True)
  ```
  When using "in" keyword in dictionary it works for the key rather than searching for the value.
  ```
  dict = {
    "name":"Steve",
    "age":30
  }
  if "name" in dict:
    print(dict.get("name"))
  ```

15. Can you modify the elements of a tuple? Explain why or why not?

  => No, We can't modify the elements of tuple because tuples are immutable and are created in such a way that it prevents any accidental modification within a datatype. Tuples are hashable which means once it is created its hash value can't be change preventing any type of modification, Thus can also be used as a key in dictionary because requirement for key in dictionary is to have key a hashable.

16. What is a nested dictionary, and give an example of its use case?

  => A nested dictionary is where it uses a separate dictionary as the value of its key. It is useful is cases where we need to make a heirarichal data structure for more information.

  ```
  food_details = {
    "Indian" : {
      "veg":"paneer",
      "non-veg":"biryani"
    },
    "Italian" : {
      "veg":"pizza",
      "non-veg":"skillet chicken"
    }
  }
  ```

17.  Describe the time complexity of accessing elements in a dictionary?

  => The time complexity of accessing an element in a dictionary is O(1). It is because dictionary are hashable and uses hash function to map key's hash value in an array.

18.  In what situations are lists preferred over dictionaries?

  => Lists are mainly used where we need to insert data in an ordered collection which can be iterated later on.
  
  - When we need to access values based on index.
  - When we need to insert duplicate values.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

  => Dictionaries are considered unordered because they don’t store items in a fixed sequence like lists do. Instead, they store data using keys, and the order of items may not be the same every time we run our program. This doesn’t affect data retrieval because we access values directly by their keys, not by position. So, even if the order changes, we can still get the correct value using its key.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

  => We use lists when we want to store items in a specific order and get them using their position (called index), like list[0] for the first item. We use dictionaries when we want to store data with a label (called key) and get values using that key, like dict["name"].

# Practical Questions

1. Write a code to create a string with your name and print it.

In [2]:
str = "Sadique Iqbal"
print(str)

Sadique Iqbal

2. Write a code to find the length of the string "Hello World".

In [3]:
str = "Hello World"
print(f"Length of string is: {len(str)}")

Length of string is: 11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [5]:
str = "Python Programming"
print(str[0:3])

Pyt

4.  Write a code to convert the string "hello" to uppercase.

In [6]:
str = "hello"
str = str.upper()
print(str)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [8]:
str = "I like apple"
str = str.replace("apple","orange")
print(str)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [9]:
list = [1,2,3,4,5]
for i in list:
  print(i,end=" ")

1 2 3 4 5

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [10]:
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [11]:
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [12]:
list = ['a','b','c','d']
""" As the first element remains on zero index
Second element will be on first index """
print(list[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [17]:
list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [1]:
tup = (100,200,300)
print(tup)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

  => To access the second-to-last element we can use negative indexing as last element with negative index can be accessed by tuple[-1] and so on.

In [2]:
tup = ('red','green','blue','yellow')
print(tup[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [3]:
tup = (10,20,5,15)
print(min(tup))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [4]:
tup =('dog', 'cat', 'rabbit')
print(tup.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [12]:
fruits = ('apple','banana','kiwi')
if "kiwi" in fruits:
  print('Kiwi Exists')
else:
  print("Kiwi doesn't exists")

Kiwi Exists

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [11]:
set = {'a','b','c'}
print(set)

{'c', 'a', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [13]:
set = {1,2,3,4,5}
print(set) # Before clearing the set
print(set.clear()) # After clearing the set

{1, 2, 3, 4, 5}
None

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [3]:
set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [4]:
set1 = {1,2,3}
set2 = {3,4,5}
print(set1 | set2)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [5]:
set1 = {1,2,3}
set2 = {2,3,4}
print(set1 & set2)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [6]:
dict = {"name":"sadique","age":23,"city":"Lucknow"}
print(dict)

{'name': 'sadique', 'age': 23, 'city': 'Lucknow'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [8]:
dict = {'name':"John","age":25}
d = {"country":"USA"}
print(dict) # Before updating values
dict.update(d)
print(dict) # After updating values

{'name': 'John', 'age': 25}
{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [9]:
dict = {'name': 'Alice', 'age': 30}
dict.get("name") # This will output the value of the key provided in the function

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [10]:
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
print(dict) # Before removing the value
dict.pop("age")
print(dict) # After removing the value

{'name': 'Bob', 'age': 22, 'city': 'New York'}
{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [13]:
dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in dict:
  print("Key exists")
else:
  print("Key doesn't exists")

Key exists

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [14]:
list = [1,2,3.1,"Hello World",3+5j]
tuple = (7,8,"Hey John",5+7j)
dict = {"name":"John","age":30,"country":"USA"}
print(list)
print(tuple)
print(dict)

[1, 2, 3.1, 'Hello World', (3+5j)]
(7, 8, 'Hey John', (5+7j))
{'name': 'John', 'age': 30, 'country': 'USA'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [24]:
import random
list = []
count = 1
while count <= 5:
  rand_num = random.randint(0,100)
  list.append(rand_num)
  count += 1
print(list)

[69, 28, 78, 58, 72]

28. Write a code to create a list with strings and print the element at the third index.

In [25]:
str = ["apple","banana","cherry","watermelon","grapes"]
print(str[3])

watermelon

29. Write a code to combine two dictionaries into one and print the result.

In [5]:
d1 = {"name":"John","age":28,"salary":45000}
d2 = {"country":"USA","region":"California"}
merged_dict = d1 | d2
print(merged_dict)

{'name': 'John', 'age': 28, 'salary': 45000, 'country': 'USA', 'region': 'California'}

30. Write a code to convert a list of strings into a set.

In [6]:
list = ["Apple","Grapes","Banana"]
set = set(list)
print(set)

{'Banana', 'Grapes', 'Apple'}